.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
}

.all-btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name-btn{
  border: 1px solid #414141;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
}

.selected{
border:  2px solid blue;
}

.correct{
  border: 3px solid #66cc99;
  pointer-events: none;
}

.incorrect{
  border: 3px solid red;
}

